<div class="jumbotron">
    <div class=""><img src="" alt="">
        <h2>Stepping Out!</h2>
        <div class="mt-4">
            <form class="create-form">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" id="br" name="" class="form-control" placeholder="" aria-label=""
                            aria-describedby="button-addon2">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>