<div class="container">
    <h1 class="display-4 entertainment-title">So you want to find some entertainment?</h1>
    <div class="submission-form-container state-filter">
        <h4>Filter by state:</h4>
        {{>components/InputState}}
    </div>
    <div class="row page-row">
        <div class="col-sm-6">
            <div class="card card-bg">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-camera-reels-fill" viewBox="0 0 16 16">
                    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"/>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Category name</h5>
                    <p class="card-text">Activity name</p>
                    <p class="card-text">State, City</p>
                    <p class="card-text">Long description</p>
                    <p class="card-text">Rating</p>
                    <p class="card-text">Cost</p>
                    <p class="card-text">Insider info</p>
                    <button class="btn btn-primary">Show photos</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-bg">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-camera-reels-fill" viewBox="0 0 16 16">
                    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"/>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Category name</h5>
                    <p class="card-text">Activity name</p>
                    <p class="card-text">State, City</p>
                    <p class="card-text">Long description</p>
                    <p class="card-text">Rating</p>
                    <p class="card-text">Cost</p>
                    <p class="card-text">Insider info</p>
                    <button class="btn btn-primary">Show photos</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-row">
        <div class="col-sm-6">
            <div class="card card-bg">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-camera-reels-fill" viewBox="0 0 16 16">
                    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"/>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Category name</h5>
                    <p class="card-text">Activity name</p>
                    <p class="card-text">State, City</p>
                    <p class="card-text">Long description</p>
                    <p class="card-text">Rating</p>
                    <p class="card-text">Cost</p>
                    <p class="card-text">Insider info</p>
                    <button class="btn btn-primary">Show photos</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-bg">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-camera-reels-fill" viewBox="0 0 16 16">
                    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"/>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Category name</h5>
                    <p class="card-text">Activity name</p>
                    <p class="card-text">State, City</p>
                    <p class="card-text">Long description</p>
                    <p class="card-text">Rating</p>
                    <p class="card-text">Cost</p>
                    <p class="card-text">Insider info</p>
                    <button class="btn btn-primary">Show photos</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
       <h4><a href="/submission" class="text-decoration-none" style="color: white">Submit your ideas here!</a></h4>
    </footer>
</div> 
