<div class="container">
  <div class="text-center">
    <h1 class="display-4">STEPPING OUT</h1>
    <img class="sun-img" src="/images/sun.png" alt="sun" />
    <p class="lead app-instructions">Description of application / directions to use application</p>
    <div class="home-separator-first">
      <hr class="home-hr" />
    </div>
    <div class="home-separator-second">
      <hr class="home-hr" />
    </div>
    <div class="home-about-team">
      <h1 class="display-5 mb-5">
        About the Team:
      </h1>
      <h3>
        Domo | Caroline | Esiena | Alex
      </h3>
      <footer class="footer">
        <h4>Submit your ideas here!</h4>
      </footer>
    </div>
  </div>
</div> 