    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">Stepping Out</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"aria-controls="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="{{active.foodrink}}">
                <a class="nav-link {{#if active.foodrink}}active{{/if}}" href="/foodrink">Food/Drink</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if active.sports}}active{{/if}}" href="/sports">Sports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if active.virtual}}active{{/if}}" href="/virtual">Virtual</a>
            </li>
            <li class="{{active.entertainment}}">
                <a class="nav-link {{#if active.entertainment}}active{{/if}}" href="/entertainment">Entertainment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if active.outdoors}}active{{/if}}" href="/outdoors">Outdoor Recreation </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
  <div class="text-center">
    <br></br>
    <h1 class="display-4">STEPPING OUT</h1>
    <img class="sun-img" src="/assets/images/sun.png" alt="sun" />
    <p class="lead app-instructions">Welcome to Stepping Out! We're glad you're here. This website is designed to help cure your quarantine lonliness by providing you with safe activies for you or you and friend in your area. Click on one of the activity types at the top of the screen to see those type of activites!</p>
   <hr></hr>
   <br></br>
    <div class="home-about-team">
      <footer>
        <h4><a href="/submission" class="text-decoration-none btn-lg btn-outline-dark " style="color: rgb(255, 96, 4)">Submit your ideas here!</a></h4>
      </footer>
    </div>
  </div>
</div> 