<form action="/api/signup" method="post">
    <input type="text" name="name" placeholder="name" required><br>
    <input type="email" name="email" placeholder="email" required><br>
    <button type="submit">Register</button>
</form>