body { 
    padding-bottom: 100px;
}

h2 {
    color:teal;
    font-family: 'Lobster', cursive;
}

.jumbo-bg {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 100%, rgba(121,118,9,1) 0%);
    background: rgb(238, 227, 211);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}	

.logo {
    width: 300px;	    
    height: 300px;	   
} 	

.home-separator-first {
    padding-left: 25%;
    padding-right: 25%;
}

.home-separator-second {
    padding-left: 45%;
    padding-right: 45%;
}

.home-hr {
    border-top: black 5px dotted;
}

.home-about-team {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: small;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(252, 252, 252);
    color: rgb(250, 82, 3)
}

.sun-img {
    height: 100px;
    width: 100px;
    animation: rotation 20s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.submission-form-container {
    margin: 0 auto;
    width: 100%;
}

.jumbo-bg {
    height: 100vh;
}

@media (min-width: 576px) { 
    .submission-form-container {
        width: 50%;
    }
}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}

.dining-title {
    font-family: 'Lobster', cursive;
    size: 50px;
}

.entertainment-title {
    font-family: 'Lobster', cursive;
    size: 50px;
}

.sports-title {
    font-family: 'Lobster', cursive;
    size: 50px;
}

.virtual-title {
    font-family: 'Lobster', cursive;
    size: 50px;
}

.outdoors-title {
    font-family: 'Lobster', cursive;
    size: 50px;
}

.state-filter {
    margin: 0
}

.category-img {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.page-row {
    margin-bottom: 100px;
}

.activity-section {
    margin-top: 50px;
}

.card-bg {
    box-shadow: 15px 10px 10px rgb(233, 228, 217);
    padding: 10px;
    border-radius: 10px;
    background:rgb(224, 180, 85);
    transition: 0.5s;
}

.card-bg:hover {
    box-shadow: 20px 20px 20px rgb(223, 198, 131);;
}

.icon {
    margin: 0 auto;
}	

h1 {
    color:rgb(209, 70, 15);
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

h4 {
    color:rgb(224, 180, 85);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    
}

.nav-item {
    font-family: 'Montserrat', sans-serif;


}

.inputPhoto{
    width: 100%;
}